__pycache__/
*.py[cod]

dist/
build/
*.egg-info/

user_config/data/log/
user_config/data/reports/
user_config/data/historical/
user_config/data/base_frames/
user_config/data/models/

user_config/data/*.xlsx
user_config/data/*.bak
user_config/data/strategy_state.json
user_config/data/.~lock*

data/log/
data/reports/
data/historical/
data/base_frames/
data/models/

*.log
